<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文档搜索助手</title>
    <link rel="stylesheet" type="text/css" href="../res/elementUI/chalk/index.css">
    <script type="text/javascript" src="../res/third/vue-2.6.14.js"></script>
    <script type="text/javascript" src="../res/elementUI/elementui-2.15.8.js"></script>
    <script type="text/javascript" src="../res/third/axios-0.27.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../res/css/index.css">
    <script type="text/javascript" src="../renderer/common.js"></script>
</head>
<body>
    <div id="app" class="main-box">
        <div>
            <div class="clazz-a inline-block">
                <el-select v-model="conditionType" placeholder="请选择">
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
            </div>
            <div class="clazz-b inline-block">
                <el-input v-model="conditionValue" @change="search" clearable placeholder="请输入内容"></el-input>
            </div>
            <div class="clazz-c inline-block">
                <el-button @click="search" icon="el-icon-search" type="primary" circle></el-button>
            </div>
        </div>
        <div class="content-box">
            <div v-for="item in dataList" class="content-item">
                <!-- <div v-if="item.fileName">
                    <span class="item-title"> 文件名：</span>{{item.fileName}}
                </div> -->
                <div v-if="item.filePath">
                    <span class="item-title"> 文件路径：</span>{{item.filePath}}
                </div>
                <div>
                    <span class="item-title"> 文档内容：</span>
                    <div>
                        <span v-html="item.content"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../renderer/indexPage.js"></script>
</body>
</html>